{% extends 'usuarios/nutri/base-nutri.html' %}
{% block conteudo %}
{% load static %}


<form action ="{% url 'listagem_usuarios_nutri' %}" method="post">
  {% csrf_token %}
  <div style="text-align: center;" class="container">
    <h1>Ficha de Atendimento</h1>

	<div class="row">
		<div class="col-4">Data da Avaliação<br><input name="NUTRI_data_avaliacao" class="form-control" type ="text" placeholder="DD/MM/AAAA" required></div>
		<div class="col-4">	Curso <select name="curso" class="form-select" aria-label="Default select example">
			<option value="Nutrição">Nutrição</option>
		  </select></div>
	</div>      
<br>



	 <h2>Identificação do Paciente</h2>

	 <div class="row">
		<div class="col-8">Nome Completo: <br><input name="nome" class="form-control" type ="text" placeholder="Nome, sobrenome" required></div> 
		<div class="col-4">Data de Nascimento<br><input name="data_de_nasc" class="form-control" type ="text" placeholder="DD/MM/AAAA" required></div> 
	</div>      
<br>

<div class="row">
	<div class="col-4"> Idade<br><input name="idade" class="form-control" type ="number" placeholder="Em anos" required></div> 
	<div class="col-4"> Telefone<br><input name="telefone" class="form-control" type ="number" placeholder="Celular com DDD" required></div> 
	<div class="col-4"> Profissão<br><input name="profissao" class="form-control" type ="text" placeholder="Profissão" required></div>
</div>      
<br>

<div class="row">
	<div class="col-4"> 1. Objetivo da orientação:<br><input name="NUTRI_objetivo_da_orientacao" class="form-control" type ="text" placeholder="Objetivo" required></div> 
	<div class="col-4"> Você tem alguma patologia? <br><input name="NUTRI_patologia" class="form-control" type ="text" placeholder="Se sim, qual (quais)?" required></div> 
	<div class="col-4"> Antecedentes familiares:<br><input name="NUTRI_antecedentes" class="form-control" type ="text" placeholder="Antecedentes" required> </div>
</div>      
<br>

<h2>Atividade Física</h2>

<div class="row">
	<div class="col-4"> Qual atividade?<br><input name="NUTRI_atividades" class="form-control" type ="text" placeholder="Atividade" required></div> 
	<div class="col-4"> Quantas vezes por semana?<br><input name="NUTRI_atividades_vezes_por_semana" class="form-control" type ="number" placeholder="Vezes por Semana" required></div> 
	<div class="col-4"> Qual a sua ingestão de água diária?<br><input name="NUTRI_ingestao_agua" class="form-control" type ="number" placeholder="Em minilitros" required> </div>
</div>      
<br>

	<div class="container">
		Tem alguma alergia alimentar?<br><input name="NUTRI_alergia" class="form-control" type ="text" placeholder="Se sim, a que?" required>
	</div><br> 

	<h2>Recordatório Habitual</h2>
	
	<div class="row">
		<div class="col-4"> Café da Manhã<br><input name="NUTRI_cafe" class="form-control" type ="text" placeholder="HH:MM" required></div> 
		<div class="col-4"> Lanche da Manhã<br><input name="NUTRI_lanche_manha" class="form-control" type ="text" placeholder="HH:MM" required></div> 
		<div class="col-4"> Almoço<br><input name="NUTRI_almoco" class="form-control" type ="text" placeholder="HH:MM" required> </div>
	</div>      
<br>	<div class="row">
	<div class="col-4"> Lanche da Tarde<br><input name="NUTRI_lanche_tarde" class="form-control" type ="text" placeholder="HH:MM" required></div> 
	<div class="col-4"> Jantar<br><input name="NUTRI_jantar" class="form-control" type ="text" placeholder="HH:MM" required></div> 
	<div class="col-4"> Ceia<br><input name="NUTRI_ceia" class="form-control" type ="text" placeholder="HH:MM" required> </div>
</div>      
<br>

<h2>Avaliação Antropométrica</h2>

	<div class="row">
		<div class="col-4"> Altura<br><input name="altura" class="form-control" type ="altura" placeholder="Em centímetros" required></div> 
		<div class="col-4"> Peso<br><input name="peso" class="form-control" type ="peso" placeholder="Em kg" required></div> 
		<div class="col-4"> IMC<br><input name="IMC" class="form-control" type ="imc" placeholder="Em kg/m2" required></div>
	</div>      
<br>

<h4>Circunferências</h4>
	<div class="row">
		<div class="col-4"> CC<br><input name="NUTRI_CC" class="form-control" type ="altura" placeholder="Em centímetros" required></div> 
		<div class="col-4"> CQ<br><input name="NUTRI_CQ" class="form-control" type ="peso" placeholder="Em kg" required></div> 
		<div class="col-4"> CB<br><input name="NUTRI_CB" class="form-control" type ="imc" placeholder="Em kg/m2" required></div>
	</div>      
<br>

<h4>Dobras Cutâneas:</h4>
	<div class="row">
		<div class="col-3"> PCT<br><input name="NUTRI_PCT" class="form-control" type ="altura" placeholder="Em centímetros" required></div> 
		<div class="col-3"> PCB<br><input name="NUTRI_PCB" class="form-control" type ="peso" placeholder="Em kg" required></div> 
		<div class="col-3"> PCSE<br><input name="NUTRI_PCSE" class="form-control" type ="imc" placeholder="Em kg/m2" required></div>
		<div class="col-3"> PCSI<br><input name="NUTRI_PCSI" class="form-control" type ="imc" placeholder="Em kg/m2" required></div>
	</div>      
<br>

<h4>Bioimpedância</h4>
	<div class="row">
		<div class="col-3"> % Gordura<br><input name="NUTRI_gordura" class="form-control" type ="altura" placeholder="Em centímetros" required></div> 
		<div class="col-3"> % Massa muscular<br><input name="NUTRI_massa" class="form-control" type ="peso" placeholder="Em kg" required></div> 
		<div class="col-3"> Idade metabólica<br><input name="NUTRI_idade_metab" class="form-control" type ="imc" placeholder="Em kg/m2" required></div>
		<div class="col-3"> Gordura Viceral<br><input name="NUTRI_gordura_visc" class="form-control" type ="imc" placeholder="Em kg/m2" required></div>
	</div>      
<br>

	<button class="btn btn-success"> 
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-check" viewBox="0 0 16 16">
	<path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"></path>
	<path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"></path></svg>
	Enviar cadastro </button>
	
  </div>  
</form>

{% endblock %}
