{% extends 'usuarios/psico/base-psico.html' %}
{% block conteudo %}
{% load static %}


<form action ="{% url 'listagem_usuarios_psico' %}" method="post">
  {% csrf_token %}
  <div style="text-align: center;" class="container">
    <h1>Prontuário Adulto</h1>
	<br>
	<div class="row">
		<div class="col-4"> N° CADASTRO<br><input name="PSICO_N_cadastro" class="form-control" type ="number" placeholder="Número de Cadastro" required></div> 
		<div class="col-4"> Data do atendimento<br><input name="data_atendimento" class="form-control" type ="text" placeholder="Data do Atendimento" required></div> 
		<div class="col-4"> E-mail<br><input name="email" class="form-control" type ="text" placeholder="E-mail" required> </div>
	</div>      
<br>
	<div class="row">
		<div class="col-8"> Nome/Nome Social <input name="nome" class="form-control" type ="text" placeholder="Nome completo" required></div>
		<div class="col-4"> Idade (maior ou igual a 18 anos) <input name="idade" class="form-control" type ="number" placeholder="Em Anos" min="18" required></div>
	</div>      
<br>			
	<div class="row">
		<div class="col-4">	Identidade (RG)<br><input name="rg" class="form-control" type ="number" placeholder="Somente Números" required></div>
		<div class="col-4"> CPF<br><input name="cpf" class="form-control" type ="number" placeholder="Somente Números" required></div>
		<div class="col-4"> Data de Nascimento<br><input name="data_de_nasc" class="form-control" type ="text" placeholder="Data de Nascimento" required></div>
	</div> 
<br>
	<div class="row">
		<div class="col-4">Estado Civil<br><input name="estado_civil" class="form-control" type ="text" placeholder="Estado Civil" required>	</div> 
		<div class="col-4">Raça/Cor/Etnia<br><input name="raca" class="form-control" type ="text" placeholder="Raça" required> </div> 
		<div class="col-4">Identidade de Gênero<br><input name="id_genero" class="form-control" type ="text" placeholder="Identidade de Gênero" required> </div> 
	</div> 
<br>

<div class="row">
	<div class="col-4">CEP<br><input name="cep" class="form-control" type ="text" placeholder="Somente números" required>	</div> 
	<div class="col-4">Bairro<br><input name="bairro" class="form-control" type ="text" placeholder="Bairro" required> </div> 
	<div class="col-4">Número da Casa<br><input name="n_casa" class="form-control" type ="number" placeholder="Número" required> </div> 
</div> 

<br>
	<div class="row">
		<div class="col-4">Telefone<br><input name="telefone" class="form-control" type ="number" placeholder="Com DDD" required>	</div> 
		<div class="col-4">Grau de Escolaridade<br><input name="escolaridade" class="form-control" type ="text" placeholder="Escolaridade" required> </div> 
		<div class="col-4">Ocupação<br><input name="profissao" class="form-control" type ="text" placeholder="Profissão" required> </div> 
	</div> 
<br>

<div class="row">
	<div class="col">Descrição da Demanda inicial / Queixa Apresentada<br><textarea input name="PSICO_demanda_inicial" class="form-control" type ="text" placeholder="Demanda Inicial" required></textarea>	</div> 
	<div class="col">Observações<br><textarea input name="PSICO_observacoes" class="form-control" type ="text" placeholder="Observações" required></textarea> </div> 
</div> 
<br>

	<div class="container" >
		TRANSCRIÇÃO DO ATENDIMENTO<br><textarea input  name="PSICO_transcricao" class="form-control" type ="text"  rows="3" placeholder="Atendimento" required ></textarea>
	</div><br>

	<div class="row">
		<div class="col-4">Estagiário Responsável<br><input name="PSICO_estagiario_resp" class="form-control" type ="text" placeholder="Nome completo" required> </div> 
		<div class="col-4">Supervisor Responsável<br><input name="PSICO_supervisor_resp" class="form-control" type ="text" placeholder="Nome completo" required> </div> 
		<div class="col-4">Curso <br> 
			<select name="curso" class="form-select" aria-label="Default select example">
				<option selected>Psicologia</option>
			  </select>	
		</div> 
	</div> 
<br>

	<button class="btn btn-success"> 
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-check" viewBox="0 0 16 16">
	<path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855a.75.75 0 0 0-.124 1.329l4.995 3.178 1.531 2.406a.5.5 0 0 0 .844-.536L6.637 10.07l7.494-7.494-1.895 4.738a.5.5 0 1 0 .928.372l2.8-7Zm-2.54 1.183L5.93 9.363 1.591 6.602l11.833-4.733Z"></path>
	<path d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-1.993-1.679a.5.5 0 0 0-.686.172l-1.17 1.95-.547-.547a.5.5 0 0 0-.708.708l.774.773a.75.75 0 0 0 1.174-.144l1.335-2.226a.5.5 0 0 0-.172-.686Z"></path></svg>
	Enviar cadastro </button>
	
  </div>  
</form>

{% endblock %}
