{% extends 'usuarios/psico/base-psico.html' %}
{% block conteudo %}
{% load static %}

<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src={% static 'img/20170602160843-GettyImages-515925266.jpeg' %} class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
    </div>
    <div class="col-lg-6">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Home da Psicologia</h1>
      <p class="lead">A psicologia é o estudo científico da mente e do comportamento humano. Ela explora processos mentais como pensamento, emoção e percepção, além de investigar comportamentos individuais e sociais. Os psicólogos utilizam métodos científicos para entender como as pessoas pensam, sentem e se comportam, e aplicam esse conhecimento em diversas áreas, incluindo saúde mental, educação, negócios e esportes.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a href="/psico/cad_adulto/" class="btn btn-primary btn-lg px-4 me-md-2">Cadastro Adulto</a>
        <a href="/psico/cad_juvenil/" class="btn btn-outline-secondary btn-lg px-4">Cadastro Juvenil</a>
      </div>
    </div>
  </div>

{% endblock %}
